.product-advertise-component-container {
    background-color: #56ee3bc0;
    height          : 400px;

    .container {
        padding: unset;

        .content {
            height : 400px;
            display: flex;
            gap    : 20px;

            .content-left {
                width          : 60%;
                height         : 100%;
                display        : flex;
                flex-direction : column;
                justify-content: center;

                .main-text {
                    font-family: var(--font-lexend);
                    font-size  : 2em;
                    font-weight: 600;
                }

                .sub-text {
                    font-size: 1.1em;
                }
            }

            .content-right {
                width      : 40%;
                height     : 100%;
                display    : flex;
                align-items: center;

                .image {
                    height: 100%;

                    img {
                        width     : 100%;
                        height    : 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}