.top-product-component-container {
    background-color: white;
    height          : auto;

    .container {
        padding: 20px 0;

        .title {
            text-align : center;
            font-size  : 2em;
            font-weight: 600;
        }

        .top-product {
            padding        : 40px 0;
            display        : flex;
            width          : 100%;
            justify-content: space-between;

            .each-product {
                width     : 16%;
                text-align: center;
                position  : relative;

                .img-product {
                    border-radius: 15px;
                    width        : 100%;
                    height       : 65%;
                    object-fit   : cover;
                }

                .text-product {
                    padding: 10px;

                    .price {
                        padding        : 20px 0;
                        display        : flex;
                        justify-content: space-between;
                        align-items    : center;

                        button {
                            border          : none;
                            outline         : none;
                            background-color: green;
                            color           : white;
                            padding         : 5px 15px;
                            border-radius   : 8px;
                        }
                    }
                }

                .badge {
                    position        : absolute;
                    background-color: red;
                    top             : 3%;
                    right           : -10%;
                    padding         : 10px 15px;
                    border-radius   : 15px;
                }
            }
        }


    }


}