.product-detail-component {
    min-height: 100vh;

    .content {
        display: flex;
        gap    : 40px;

        .content-left {
            width  : 50%;
            padding: 20px 0;

            .image {
                height  : 450px;
                position: relative;

                .image-production {
                    border-radius: 18px;
                    width        : 100%;
                    height       : 100%;
                    object-fit   : cover;
                    box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.3);
                }
            }
        }

        .content-right {
            width  : 55%;
            padding: 20px 0;

            .name {
                font-size  : 1.5em;
                font-weight: 600;
            }

            .line {
                background-color: rgba(0, 0, 0, 0.851);
                border-radius   : 20px;
                height          : 4px;
                width           : 150px;
                margin-top      : 10px;
                margin-bottom   : 40px;
            }

            .description {
                white-space: pre-line;
            }

            .buy {
                margin-top : 25px;
                display    : flex;
                align-items: center;
                gap        : 50px;

                .price {
                    font-size  : 1.2em;
                    font-weight: 600;
                }
            }


            .btn-add-card {
                padding-top: 40px;

                .icon {
                    font-size: 1.2em;
                }

                button {
                    border          : none;
                    outline         : none;
                    background-color: rgba(244, 0, 0, 0.845);
                    padding         : 8px 20px;
                    color           : white;
                    border-radius   : 10px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .product-detail-component {
        min-height: 100vh;

        .content {
            display       : flex;
            flex-direction: column;
            gap           : 20px;

            .content-left {
                width  : 100%;
                padding: 20px 0;

                .image {
                    height  : 350px;
                    position: relative;

                    .image-production {
                        border-radius: 18px;
                        width        : 100%;
                        height       : 100%;
                        object-fit   : cover;
                        box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .content-right {
                width: 100%;
            }
        }
    }

}