.header-component {
    font-family: var(--font-lexend);

    .navbar {
        height: 80px;

        .brand {
            font-size      : 1.8em;
            font-family    : var(--font-black-ops-one);
            text-decoration: none;
            color          : rgb(5, 52, 5);
        }

        .navbar-nav {
            padding-left: 40px;
            font-size   : 1.1em;
            gap         : 40px;

            .nav-link {
                &.active {
                    font-weight  : 600;
                    border       : 3.5px solid rgb(42, 40, 40);
                    border-top   : none;
                    border-left  : none;
                    border-right : none;
                    padding-left : 0px;
                    padding-right: 0px;
                    border-radius: 2px;
                    width        : fit-content;
                }
            }

            .login-item {
                border       : 2px solid black;
                padding      : 8px 20px;
                border-radius: 10px 0 10px 0;
                width        : fit-content;
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .header-component {
        .navbar {
            .navbar-nav {
                padding-left: 40px;
                font-size   : 1em;
                gap         : 40px;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header-component {
        .navbar {
            .navbar-nav {
                padding-left: 40px;
                font-size   : 14px;
                gap         : 20px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header-component {
        .navbar {
            .navbar-collapse {
                &.show {
                    background-color: white;
                    z-index         : 1;
                    padding         : 40px 20px;
                }

                .navbar-nav {
                    .nav-link {
                        &.active {
                            border: unset;
                        }
                    }
                }
            }
        }
    }
}